@charset "utf-8";
/* CSS Document */ * {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    font-size: 12px;
    background: none repeat scroll 0 0 #FFFFFF;
    font: 12px "宋体","Arial Narrow",HELVETICA;
}

body, p, ol, ul, td {
  line-height: 18px;
}
a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    text-decoration: underline;    
    color: #0069CA;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
.loginin {
    display: block;
    float: right;
    margin: 5px 0;
    font-family: Arial, sans-serif, Helvetica, Tahoma;
	height:10px;
}

.loginin a {
    margin: 5px 0;
    padding: 0 8px;
    border-left: 1px solid #CCC;
}

.loginin .welcome {
    border-left: 0;
    color: #E28822;
}

.logo .banner_part_1
{
	width:241px;
	height:82px;
	background: url("/images/Banner_1.gif");
	display:inline;
	float:left;
}

.logo .banner_part_2
{
	width:496px;
	height:82px;
	background: url("/images/Banner_2.gif");
	display:inline;
	float:left;
}

.logo .banner_part_3
{
	width:255px;
	height:82px;
	background: url("/images/Banner_3.gif");
	display:inline;
	float:left;
}

.mainContent {
    position: relative;
    display: inline;
    width: 76em;
    top: 15px;
}

.itemlist {
    padding-right: 10px;
    width: 730px;
    text-align: left;
    border-right: 1px solid #EFEFEF;
}

.item {
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.item .item_up{
	height:12px;	 
}

.item .item_up .item_up_left{
		background: url("/images/left_up.gif");
		float:left;
		width:12px;		
		height: 12px;
}

.item .item_up .item_up_middle{
		float:left;
		width:700px;		
		height: 12px;
		border-top: 1px solid #91aecf
}

.item .item_up .item_up_right{
		background: url("/images/right_up.gif");
		float:left;
		width:12px;
		height: 12px;
}

.item .item_bottom{
	height: 12px;
}

.item .item_bottom .item_bottom_left{
		background: url("/images/left_down.gif");
		float:left;
		width:12px;
		height:12px;
}

.item .item_bottom .item_bottom_middle{
		float:left;
		width:700px;
		height:11px;
		border-bottom: 1px solid #91aecf
}

.item .item_bottom .item_bottom_right{
		background: url("/images/right_down.gif");
		float:left;
		width:12px;
		height:12px;
}

.item .item_content{
	width: 714px;
	border-left: 1px solid #91aecf;
	border-right: 1px solid #91aecf;
	padding-left: 8px;
}

.item .title {
    margin-bottom: 5px;
    font-size: 16px;
}

.item .summary {
    font-size: 14px;
    word-wrap: break-word;
    overflow: hidden;
}

.item .date {
    font-size: 12px;
}

.rightColumn {
   	float:right;
    margin-left: 10px;
    width: 220px;
}

.righttitle {
    background-image: url("/images/ColumnTitle.gif");
    border-bottom: 1px solid #999;
   	margin-top: 2px;
   	font-size: 15px;	 
   	color: #4e83bf;
	text-align:center;
	height:20px;
}

.rightcontent {
    margin: 10px;
    font-size: 14px;
    color: #000;
}

.rightcontent ul {
    padding: 0;
    margin: 0;
}

.rightcontent ul li {
    list-style-position: inside;
    list-style-type: disc;
}

.clear {
    clear: both;
    position: relative;
}

.footer {
    margin: 0 auto;
    background: #ffffff;
    text-align: center;    
}

pre {
    background-color: green;
    padding:
    10px;
    font-size:
    11px;
}

div.field, div.actions {
    margin-bottom: 10px;
}

/* About Page */
.about_title{
	text-align: center;
}
.about_content{
	margin-top: 20px;
}
.about_content_para{
	font-size: 10.5pt;
	text-indent: 21pt;
	margin-bottom: 10px;
}
